body{
    height: 100%;
    width:  100%;
    background-color: #3C6270;
    /* background-image: url("/assets/images/photo-1543362906-acfc16c67564.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.content {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
/* font display for heading */
h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
/* Centers the page */
 .center { 
     display: block; 
     margin-left: auto; 
     margin-right: auto; 
     width: 50%; 
     text-align: center;
   } 
/* Background color */
  .contain{
    background-color: black;
}

.choice{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}




