body{
    height: 100%;
    width:  100%;
    background-color: lightcyan; 
    /* background-image: url("/assets/images/photo-1543362906-acfc16c67564.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.content {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

 .center { 
     display: block; 
     margin-left: auto; 
     margin-right: auto; 
     width: 50%; 
     text-align: center;
   } 

  .contain{
    background-color: black;
}